<!DOCTYPE html>
      <html lang=''en''>
      <head>"
        <meta charset=''UTF-8''>"
        <title>Document</title>"
      </head>"
      <body style=''margin:1%;padding:1%;''>"
        <div style=''width: 100%;display: inline-block;''>"
          <div style=''width: 100%;display: inline-block;border: 1px groove;''>"
            <div style=''width: 45%; margin-left: 25px; float: left;''>"
              <img src=''https://www.andinadelsud.com/archivosapoyo_87/images/etickets/header-logo-2.jpg'' alt='' width=''300'' height=''100''>"
            </div>"
            <div style=''width:45%; float: right; margin-right: 25px;float:right;''>"
              <b style=''float:right;''>Cotizacion: "+this.cotizacion.idVentaCotizacionNew+"</b><br>"
              <b style=''float:right;''>Valor Tipo Cambio: "+this.cotizacion.tipoCambio+"</b>"
            </div>"
          </div>"
          <!--DATOS Y VALORES-->"
          <div style=''width: 100%;display: inline-block;border: 1px groove;''>"
            <div style=''width: 45%; float:left; border: 1px groove;''>"
              <div style=''background-color: rgb(41,23,107);border-radius: 1px;color: white;margin-bottom: 2px;margin-top: 2px;padding-bottom: 2px;padding-top: 2px;''>"
                <h5 style=''margin: 0;padding: 0;''>Datos</h5>"
              </div>"
              <table>"
                <tr>"
                  <td>Fecha:</td>"
                  <td>"+this.cotizacion.fechaViaje+"</td>"
                </tr>"
                <tr>"
                  <td>Cliente:</td>"
                  <td>"+this.cotizacion.fechaViaje+"</td>"
                </tr>"
                <tr>"
                  <td>Vendedor:</td>"
                  <td>"+this.cotizacion.vendedor+"</td>"
                </tr>"
                <tr>"
                  <td>Pax:</td>"
                  <td>"+this.cotizacion.pasajero+"</td>"
                </tr>"
                <tr>"
                  <td>Destino</td>"
                  <td>"+this.cotizacion.destino+"</td>"
                </tr>"
              </table>"
            </div>"
            <div style=''width: 25%; float:left; margin-left: 2px; margin-right: 2px; border: 1px groove;''>"
              <div style=''background-color: rgb(41,23,107);border-radius: 1px;color: white;margin-bottom: 2px;margin-top: 2px;padding-bottom: 2px;padding-top: 2px;''>"
                <h5 style=''margin: 0;padding: 0;''>Valores USD</h5>"
              </div>"
              <table>"
                <tr>"
                  <td>Aereo:</td>"
                  <td>"+this.cotizacion.montoAereoUSD+"</td>"
                </tr>"
                <tr>"
                  <td>Terrestre:</td>"
                  <td>"+this.cotizacion.montoTerrestreUSD+"</td>"
                </tr>"
                <tr>"
                  <td>Cargo:</td>"
                  <td>"+this.cotizacion.montoCargoUSD+"</td>"
                </tr>"
                <tr>"
                  <td>Total:</td>"
                  <td>"+this.cotizacion.montoTotalUSD+"</td>"
                </tr>"
              </table>"
            </div>"
            <div style=''width: 25%; float:left; border: 1px groove;''>"
              <div style=''background-color: rgb(41,23,107);border-radius: 1px;color: white;margin-bottom: 2px;margin-top: 2px;padding-bottom: 2px;padding-top: 2px;''>"
                <h5 style=''margin: 0;padding: 0;''>Valores CLP</h5>"
              </div>"
              <table>"
                <tr>"
                  <td>Aereo:</td>"
                  <td>"+this.cotizacion.montoAereoCLP+"</td>"
                </tr>"
                <tr>"
                  <td>Terrestre:</td>"
                  <td>"+this.cotizacion.montoTerrestreCLP+"</td>"
                </tr>"
                <tr>"
                  <td>Cargo:</td>"
                  <td>"+this.cotizacion.montoCargoCLP+"</td>"
                </tr>"
                <tr>"
                  <td>Total:</td>"
                  <td>"+this.cotizacion.montoTotalCLP+"</td>"
                </tr>"
              </table>"
            </div>"
          </div>"
          <!--OBSERVACIONES-->"
          <div style=''width: 100%;display: inline-block;border: 1px groove;''>"
            <!--AEREO-->"
            <div style=''width: 100%;display: inline-block;border: 1px groove;''>"
              <div style=''background-color: rgb(41,23,107);border-radius: 1px;color: white;margin-bottom: 2px;margin-top: 2px;padding-bottom: 2px;padding-top: 2px;''>"
                <h5 style=''margin: 0;padding: 0;''>Aereo</h5>"
              </div>"
              "+this.formatObs(this.obsAereo)+""
            </div>"
            <!--TERRESTRE-->"
            <div style=''width: 100%;display: inline-block;border: 1px groove;''>"
              <div style=''background-color: rgb(41,23,107);border-radius: 1px;color: white;margin-bottom: 2px;margin-top: 2px;padding-bottom: 2px;padding-top: 2px;''>"
                <h5 style=''margin: 0;padding: 0;''>Terrestre</h5>"
              </div>"
              "+this.formatObs(this.obsTerrestre)+""
            </div>"
            <!--OBSERVACION-->"
            <div style=''width: 100%;display: inline-block;border: 1px groove;''>"
              <div style=''background-color: rgb(41,23,107);border-radius: 1px;color: white;margin-bottom: 2px;margin-top: 2px;padding-bottom: 2px;padding-top: 2px;''>"
                <h5 style=''margin: 0;padding: 0;''>Observación</h5>"
              </div>"
              "+this.formatObs(this.obsLegal)+""
            </div>"
          </div>"
        </div>"
      </body>"
      </html>"